<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>

<div class="movie-layout">
    <% @movies.each do |movie|%>
    <div class="movie-card" data-genre="<%= movie['gengre']%>">
        <img src="/img/<%= movie['image_filename'] %>" alt="<%= movie['title'] %>">
        <h3><%= movie['title']%></h3>
        <p>Price: <%= movie['price']%></p>
        <p>Genre: <%= movie['genre']%></p>
        <p> <%= movie["available_for_rent"] == 1 ? 'Available' : 'Not available' %></p>
        <a href="/movies/<%= movie['id']%>">More Info:</a>
    </div>
    <% end %>
</div>


<body>
<script src="/js/index.js"></script>
</html>
